.challengeWidget {
  width: 100%;
  border: 1px solid burlywood;
  background-color: white;
}

.challengeWidget h2 {
  color: black;
  font-family: inherit;
}
.challengeWidget .description {
  font-family: inherit;
}
.challengeWidget .challenge_tags {
  float: right;
  padding: 2px;
  margin: 2px;
  background-color: lightseagreen;
  margin-top: 20px;
}
.challengeWidget .description {
  font-family: inherit;
}
