.challengeWidget {
  width: 100%;
  border: 1px solid burlywood;
  background-color: white;
}

.challengeWidget header {
  display: flex;
  justify-content: space-between;
}

.challengeWidget header .title {
}

.challengeWidget header .label {
}




.challengeWidget,
h2 {
  color: black;
  font-family: inherit;
}
.challengeWidget,
.description {
  font-family: inherit;
}
button {
  border: 0.1rem solid black;
  display: inline-flex;
  padding: 1rem;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
.current_period {
  float: right;
  height: 3rem;
  width: 3rem;
}
