.challengeWidget {
  width: 100%;
  border: 1px solid burlywood;
  background-color: white;
  padding: 12px;
  margin-bottom: 12px;
}

.challengeWidget header {
  display: flex;
  justify-content: space-between;
}

.challengeWidget header .title {
  display: flex;
}

.challengeWidget header .title h2 {
  color: black;
}

.challengeWidget header .title .statusIcon {
  width: 32px;
  height: 32px;
  background-color: aquamarine;
  border-radius: 50%;
  border: 1px solid gray;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.challengeWidget .markers {
}

.challengeWidget .markers .marker {
}

.challengeWidget .markers .currentPeriod {
  height: 6rem;
  width: 6rem;
}
